.test {
    width: 300px;
    padding: 30px 20px;
    margin-left: 60px;
    background: #beceeb;
    position: relative;
}

.test span {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
}

.test span.bot {
    border-width: 20px;
    border-style: solid;
    border-color: #ffffff #beceeb #beceeb #ffffff;
    left: -40px;
    top: 40px;
}

.test span.top {
    border-width: 10px 20px;
    border-style: dashed solid solid dashed;
    border-color: transparent #ffffff #ffffff transparent;
    left: -40px;
    top: 60px;
}